.col-centered {
    float: none;
    margin: 0 auto;
}

body {
    background: #CFD8DC;
}

iframe {
    border: none;
    margin: 0;
    padding: 0;
    border: 0;
    width: 100%;
    top: 0;
    left: 0;
}

.hero-padding h1 {
    padding-top: 150px;
    font-size: 75px;
    text-shadow: 0 0 30px rgba(150,150,150,1);
    margin-top: 40px;
}

h1, h3 {
    color: black;
}

.navbar {
    border-radius: 0;
    margin: 0;
    background: white; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#020506, #020506); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#020506, #020506); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#020506, #020506); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#020506, #020506); /* Standard syntax */
    border-bottom: 0;
}

#navbar {
    z-index: 140;
}

#navbar a {
    color: #FFFFFF;
}

.hero-vr-view {
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
}

#about {
    padding-bottom: 70px;
}

/* MOBILE */
@media screen and (max-width: 700px) {
    iframe {
        height: 400px;
    }
    .hero-padding {
        height: 400px;
    }
}

/* DESKTOP */
@media screen and (min-width: 700px) {
    iframe {
        min-height: 700px;
    }
    .hero-padding {
        min-height: 700px;
    }
}

.about-the-project {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 100;
}

.card div {
    background: #ffffff;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    box-shadow: 0 19px 38px rgba(0,0,0,0.10);
}

.card hr {
    margin-top: 1px;
    margin-bottom: 3px;
}

#concept {
    padding-bottom: 20px;
}

.extra-padded-col {
    padding-left: 30px;
    padding-right: 30px;
}

ul.social-buttons li a:active, ul.social-buttons li a:focus, ul.social-buttons li a:hover {
    background-color: #fed136;
}

ul.social-buttons .twitter:hover, ul.social-buttons .twitter:focus, ul.social-buttons .twitter:active {
    background-color: rgb(85, 172, 238);
}

ul.social-buttons .facebook:hover, ul.social-buttons .facebook:focus, ul.social-buttons .facebook:active {
    background-color: rgb(59, 89, 152);
}

ul.social-buttons .linkedin:hover, ul.social-buttons .linkedin:focus, ul.social-buttons .linkedin:active {
    background-color: rgb(0, 123, 181);
}

ul.social-buttons .github:hover, ul.social-buttons .github:focus, ul.social-buttons .github:active {
    background-color: rgb(128, 1, 128);
}

ul.social-buttons .instagram:hover, ul.social-buttons .instagram:focus, ul.social-buttons .instagram:active {
    background-color: rgb(155, 105, 84);
}

ul.social-buttons .mail:hover, ul.social-buttons .mail:focus, ul.social-buttons .mail:active {
    background-color: rgb(221, 221, 221);
}