<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.lodestarapp.cs491.lodestar">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.nfc"
        android:required="false" />
    <uses-feature android:name="android.hardware.location.gps" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon40"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon40"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon, android:theme">
        <activity android:name=".LoginActivity">
            <!--<intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>!-->
        </activity>
        <activity
            android:name=".SignInActivity"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".SignUpActivity"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity android:name=".WeatherInformationActivity" />
        <activity android:name=".FlightInfoActivity" />
        <activity android:name=".CurrencyActivity" />
        <activity android:name=".QRCodeActivity" />

        <meta-data
            android:name="com.google.android.gms.vision.DEPENDENCIES"
            android:value="barcode" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAdM81VI3shYcZkHVBBQA2WCjR1GU25Vac" />

        <activity android:name=".LivingExpensesActivity" />
        <activity android:name=".TabActivity" />
        <activity android:name=".ForgotPasswordActivity" />
        <activity android:name=".VRActivity" />
        <activity android:name=".PanoramaActivity" />
        <activity android:name=".PreferencesActivity" />
        <activity android:name=".PlacesToSeeActivity" />
        <activity
            android:name=".SearchUserActivity"
            android:label="@string/title_activity_search_user"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ChangePasswordActivity"
            android:label="@string/title_activity_change_password"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ChangeUserActivity"
            android:label="@string/title_activity_change_user"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ManualDestinationActivity"
            android:label="@string/title_activity_manual_destination"
            android:theme="@style/AppTheme" />
        <activity android:name=".PlacesToSeeExpandedActivity" />
        <activity android:name=".NearMeActivity" />
        <activity android:name=".VenueActivity" />
        <activity android:name=".RestaurantActivity" />
        <activity
            android:name=".DirectedUserPage"
            android:label="@string/title_activity_directed_user_page"
            android:theme="@style/AppTheme"></activity>
        <activity android:name=".SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>